<div class="container">
    <div class="jumbotron text-center">
        <h2>Create your own fishing journal!</h2>
        <p>Tell us about your awesome fishing adventures.</p>
<br/>
        <a type="button" class="btn btn-lg btn-info" href="#/addstory">Get Started Now!</a>
    </div>
</div>