<div class="container">
    <div class="text-center span3 well">
        <img ng-src="{{profile.ownavatar }} " name="aboutme" width="140" height="140" class="img-circle">
        <h3>{{ profile.username }}</h3>
        </div>

    <div ng-if="showulist">
<div ng-repeat="(key,dstory) in mylist" >

    <br/>{{dstory.title}} - Located in {{dstory.place}} {{dstory.city}} {{dstory.state}} - <a href="" ng-click="mylistopen(dstory)"> View Story</a>
   <br/><small> <a ng-href="#/editstory/{{dstory.$id}}" ng-click="cancel()" ng-hide="dstory.creatorId !== curruser.uid">Edit {{dstory.title}}</a></small>

</div>
    <button class="btn btn-danger" ng-click="loadmap()">Show My Map</button>
</div>
<div ng-if="showumap">
    <button class="btn btn-danger" ng-click="hidemap()">Show My List</button>
    <ui-gmap-google-map center='map.center' zoom='map.zoom'>
    <ui-gmap-markers models="markers"
                     fit="true" coords="'coords'" icon="'icon'"
                     ng-cloak>
        <ui-gmap-windows isIconVisibleOnClick="false" closeClick="closeClick()">

            <div ng-non-bindable><strong>{{modstorydata.title}} - in {{modstorydata.state}}</strong><br/><br/>
                <p style="height:230px; width: 500px;">{{modstorydata.story}}
           </p>
            </div>
        </ui-gmap-windows>

    </ui-gmap-markers>


</ui-gmap-google-map>
    </div>
</div>
<!--<p id="hook" style="height:200px; width: 800px;"><a class="twitter-timeline" href="https://twitter.com/GreekTheatreLA" data-widget-id="448463912984256512">Tweets by @GreekTheatreLA</a></p>',-->
<!--maxWidth: 200-->