<div class="modal-header">
    <h3 class="modal-title"> {{sdetails.title}}
    </h3>
</div>
<div class="modal-body">
    {{sdetails.city}} {{sdetails.state}}  {{sdetails.country}} - {{sdetails.place}}
<br/>
    <h4>Story Details</h4><br/>
{{sdetails.story}}
    </div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="closemodal()">Close</button>
</div>