<div ng-show="usRegister">
    <div class="text-center"><h3>New User Registration</h3><br/>
        <p>Do you already have an account?  <a href="" ng-click="showLogin()">Click here to Login</a></p>

    </div>
<form name="formr" ng-submit="register(loguser)">
    <input type="text" ng-model="loguser.username" placeholder="Display Name" class="form-control" required><br>
    <input type="email" ng-model="loguser.email" placeholder="Email" class="form-control" required><br>
    <p ng-show="error" class="text-danger">Email address already in use</p>
    <input type="password" ng-model="loguser.password" placeholder="Password" class="form-control" required=""><br>
    <input type="submit" value="Register" ng-disabled="formr.$invalid" class="btn btn-primary" />
</form>

    </div>

<div ng-show="usLogin">
    <div class="text-center"><h3>Welcome, please login to your account</h3><br/>
    <p>Not registered yet?  <a href="" ng-click="showRegister()">Click here to create an account</a></p>
    </div>
    <form name="forml" ng-submit="login(reguser)">
        <input type="email" ng-model="reguser.email" placeholder="Email" class="form-control" required><br>
        <p ng-show="error" class="text-danger">Email address already in use</p>
        <input type="password" ng-model="reguser.password" placeholder="Password" class="form-control" required=""><br>
        <input type="submit" value="Login" ng-disabled="forml.$invalid" class="btn btn-primary" />
    </form>
    <br/>
    <a href="" ng-click="showReset()">Forgot your password?</a>
</div>


<div ng-show="usReset">
    <div class="text-center"><h3>Please enter your email address to reset your password</h3><br/>

        <form name="resetPass" ng-submit="resetPassword(resuser)">
        <input type="email" ng-model="resuser.email" placeholder="Email" class="form-control" required><br>
            <input type="submit" value="Reset Password" ng-disabled="resetPass.$invalid" class="btn btn-primary" />

    </form>
</div>

    </div>
