<div class="container">
    <div class="text-center"><br/><br/>
        <h2>Ok, we've reset your password.  Please check your email for further instructions</h2>
    <br/><a href="#/"> Click here to go to the homepage</a>
    </div>
</div>