<!--Let's create a view for our navbar-->
<nav ng-controller="NavCtrl"  class="navbar navbar-default" role="navigation">
    <div class="navbar-header">

        <a class="navbar-brand" href="#/">MapMark Demo App</a>

    </div>
    <ul class="nav nav-pills pull-right">
        <li ng-show="authStatus == null"><a ng-href="#/login">Login</a></li>
        <li ng-hide="authStatus == null"><a ng-href="#/addstory">Add Story</a></li>
        <li ng-hide="authStatus == null"><a ng-href="#/profile/{{navuser.uid}}">My Account</a></li>
        <li ng-hide="authStatus == null"><a ng-href="#/" ng-click="uslogout()">Logout</a></li>


    </ul>

</nav>
