Addin a new story
<br/>

Ok <strong>{{newstorycreator.profile.username}}</strong>, give us a little info about this fishing story<br/><br/>
<form name="addstoryf" ng-submit="addnewstory(currentstory,newstorycreator)">
    <label for="StoryTitle"><h4>Title:</h4> </label>

<input type="text" id=StoryTitle ng-model="currentstory.title" placeholder="Let's give this story a short title" class="form-control" required><br>

    <label for="Place"><h4>Place Name:(OPTIONAL)</h4> </label>
    <input type="text" id="Place" ng-model="currentstory.place" placeholder="What was the name of this location" class="form-control"><br>

    <label for="Country"><h4>Country:(OPTIONAL)</h4> </label>
    <input type="text" id="Country" ng-model="currentstory.country" placeholder="What was the name of Country" class="form-control"><br>

    <label for="State"><h4>State:</h4> </label>
    <input type="text" id="State" ng-model="currentstory.state" placeholder="What was the name of State" class="form-control" required><br>

    <label for="City"><h4>City:</h4> </label>
    <input type="text" id="City" ng-model="currentstory.city" placeholder="What was the name of City" class="form-control" required><br>

    <!--<label for="Date"><h4>Date:</h4> </label>-->
    <!--<input type="date" id="Date" ng-model="currentstory.date" placeholder="On which date did this event take place" class="form-control" placeholder="yyyy-MM-dd" min="1900-01-01" max="2015-12-31" required><br>-->

    <label for="Overall"><h4>Overall Experience:</h4> </label>
    <div class="form-group" ng-class="{ 'has-error' : pinForm.kind.$invalid && !pinForm.kind.$pristine && submitted}">
        <select id="Overall" ng-model="currentstory.myexp" name="kind" class="form-control" ng-options="myexp.name for myexp in myexps" required>
            <option value="">choose type(**Required**)</option>
        </select>
        </span>
        </div>
        <input type="submit" value="Add New Story" ng-disabled="addstoryf.$invalid" class="btn btn-warning" />

</form>


