<h2>Hey <strong>{{edituser.profile.username}}</strong>, let's Edit {{editstory.title}}</h2>

Location: {{editstory.place}} {{editstory.state}} {{editstory.city}} <br/>
<br/>
<small>Please note, that all changes update in realtime, so there is no need manually save data.</small><br/>



<br/>
<label for="StoryTitle"><h4>Update Title:</h4> </label>

<input type="text" id="StoryTitle" ng-model="editstory.title" value="{{editstory.title}}" class="form-control"><br>

<label for="Story"><h4>Update Story Details:</h4> </label>
<textarea id="Story" ng-model="editstory.story" class="form-control" rows="6" ></textarea>

<br/>
<a type="button" class="btn btn-block btn-success" href="#/profile/{{editstory.creatorId}}">Go to my story map</a><br/><br/><br/>
<button class="btn btn-block btn-danger" ng-click="deletestory(edituser,editstory)">Delete This Story(THIS CANNOT BE UNDONE!)</button>
